<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <title>SignUp</title>
    <link rel="stylesheet" href="signup.css" />
    <style>
        input.ng-invalid.ng-dirty {
            border-bottom: 2px solid red;
        }
    </style>
</head>

<body>
    <form name="myform" method="post" ng-app="myApp" ngcontroller="validateCtrl" novalidate autocomplete="off"></form>
    <p>SignUp</p>
    <label for="name">Name</label><br />
    <input type="text" name="name" ng-model="name" required class="inputs" /><br />
    <span style="color: red" ng-show="myform.name.$dirty &&
myform.name.$invalid" id="errorfield">
      <span ngshow="myform.name.$error.required">Name is required</span> </span><br />
    <label for="username">Username</label> <br />
    <input type="text" name="username" ng-model="username" required class="inputs"><br> <span style="color:red" ng-show="myform.username.$dirty &&
myform.username.$invalid" id="errorfield"> <span ngshow="myform.username.$error.required">Userame is required</span> </span><br>
    <label for="email">Email</label><br>
    <input type="email" name="email" ng-model="email" required class="inputs"><br> <span style="color:red" ng-show="myform.email.$dirty &&
myform.email.$invalid" id="errorfield"> <span ngshow="myform.email.$error.required">Email is required</span> <span ngshow="myform.email.$error.email">Please enter a valid Email address</span>
    </span><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" ng-model="password" required class="inputs"><br> <span style="color:red" ng-show="myform.password.$dirty &&
myform.password.$invalid" id="errorfield"> <span ngshow="myform.password.$error.required">Enter Password</span> </span><br>
    <input type="button" value="SignUp" id="signup_btn" onclick="submitForm()">
    <table>
        <tr>
            <td>
                <center id="already_user">Already a User?</center>
            </td>
            <td><input type="button" value="LogIn" onclick="go_to_login()" id="login_btn"></td>
        </tr>
    </table>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script>
        function submitForm() {
            event.preventDefault();
            const name = document.myform.name.value;
            const username = document.myform.username.value;
            const email = document.myform.email.value;
            const password = document.myform.password.value;
            console.log(email);
            console.log(password);
            console.log(name);
            console.log(username);
            axios.post("http://localhost:3000/signup", {
                name,
                username,
                email,
                password
            }).then((response) => {
                console.log(response)
                alert("You have signed up successfully :)");
                window.location.replace("Login.html");
            }).catch((err) => {
                console.log(err);
                alert("Enter the Details.");
            })
        }

        function go_to_login() {
            window.location.replace("Login.html")
        }
    </script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function($scope) {});
    </script>
</body>

</html>